<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WaterSavers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F30A2341BC2354800E72AAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F30A24D1BC2354900E72AAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F30A2581BC2354900E72AAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
